{% load model_name %}

<nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
          <ul class="nav metismenu" id="side-menu">
      
            <li class="nav-header">
              <div class="dropdown profile-element">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                  <span class="clear">
                     <span class="block m-t-xs">
                        <strong class="font-bold">{{ user.username }}</strong>
                      </span>
                   </span>
                </a>
              </div>
              <div class="logo-element">
                YHt
              </div>
            </li>
      
            <li{% controller_active request 'dashboard' %}>
              <a href="{% url 'crm:dashboard' %}">
                <i class="fa fa-th-large"></i>
                <span class="nav-label">概览</span>
              </a>
            </li>
      
            <li{% controller_active request 'workspace' %}>
                <a href="{% url 'crm:dashboard' %}">
                  <i class="fa fa-desktop"></i>
                  <span class="nav-label">我的工作台</span>
                </a>
      
              </li>
      
            <li{% controller_active request 'client' %}>
              <a href="#">
                <i class="fa fa-handshake-o"></i>
                <span class="nav-label">客户管理</span> 
              </a>
              <ul class="nav nav-second-level collapse">
                <li{% action_active request 'search' %}>
                    <a href="{% url 'crm:client-search' %}">查找客户</a>
                </li>
                <li{% action_active request 'create' %}>
                    <a href="{% url 'crm:client-create' %}">创建客户</a>
                </li>
              </ul>
            </li>
      
            <li{% controller_active request 'library' %}>
              <a href="{% url 'crm:library' %}">
                <i class="fa fa-list-alt"></i> 
                <span class="nav-label">资料管理</span> 
              </a>
              <ul class="nav nav-second-level collapse">
                <li{% action_active request 'receive' %}>
                    <a href="{% url 'crm:library-receive' %}">签收</a>
                </li>
                <li{% action_active request 'manage' %}>
                    <a href="{% url 'crm:library-manage' %}">管理</a>
                </li>
                <li{% action_active request 'receipt' %}>
                    <a href="{% url 'crm:library-receipt-list' %}">收据</a>
                </li>
              </ul>
            </li>
      
          </ul>
      
        </div>
      </nav>
      