{% extends 'admin/base_site.html' %}
{% load i18n admin_urls admin_static %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
    </div>
{% endblock %}

{% block content %}
<form method="post" action="">
    {{ borrower_form }}

    {% csrf_token %}
    {{ formset.management_form }}
        {% for form in formset %}
        <div>

         {{ form.as_table }}
        </div>
          {% endfor %}
    <input type="submit" value="提交" />
</form>

{{ borrower_form.media }}
{% endblock %}
