{% extends "crm/base.html" %}
{% load static django_tables2 widget_tweaks %}

{% block extra_css %}
<link href="{% static 'css/plugins/dataTables/datatables.min.css' %}" rel="stylesheet">
<link href="{% static 'css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css' %}" rel="stylesheet">
<link href="{% static 'css/plugins/chosen/bootstrap-chosen.css' %}" rel="stylesheet">
{% endblock extra_css %}

{% block title %} 客户管理 {% endblock title %} 
{% block active_client %} class="active"{% endblock %} 

{% block content %}
<div class="row">
  <div class="col-lg-12">
    <div class="advance ibox float-e-margins border-bottom">
      <div class="ibox-title">
        <h5>高级选项</h5>
        <div class="ibox-tools">
          <a class="collapse-link"> <i class="fa fa-chevron-down"></i> </a>
        </div>
      </div>
      <div class="ibox-content" style="display: none;">
        <form action="#" id="id_preference">
          {% csrf_token %}
          <div class="form-group">
            <label class="font-normal">选择显示的列</label>
            {% render_field pre_form.company_list_fields data-placeholder="选择显示的字段" class="form-control chosen-select" %} 
          </div>
        </form>
      </div>
      <div class="hr-line-dashed"></div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="ibox">
      <div class="ibox-title">
        <h5>客户列表</h5>
        <div class="ibox-tools">
          <a href="#" class="btn btn-primary btn-xs">+新增客户</a>
        </div>
      </div>
      <div class="ibox-content">
        <div class="m-b-lg">

          <form id="search_form" method="GET">
            <div class="input-group">
              {% render_field search_form.q placeholder="输入关键字进行搜索" class=" form-control" %}

                <span class="input-group-btn">
                  <button type="submit" id="search_btn" class="btn btn-white"> 搜索</button>
                  <button type="button" class="btn btn-white" id="btn-advance"> 高级选项 </button>
                </span>
            </div>

        </div><!-- end m-b-lg -->
        {% render_table table %}

      </div>
    </div>
  </div>

</div>
{% endblock content %} {% block extra_js %}
<script src="{% static 'js/plugins/dataTables/datatables.min.js' %}"></script>
<!-- iCheck -->
<script src="{% static 'js/plugins/iCheck/icheck.min.js' %}"></script>
<!-- Chosen -->
<script src="{% static 'js/plugins/chosen/chosen.jquery.js' %}"></script>


<script>
  $(document).ready(function() {
    $("#id_company_list_fields").chosen({ 
      no_results_text: "没有匹配结果",
      width: "100%;"
    }).change((event) => { 
      let data = $("#id_preference").serialize()
      $.ajax({
        data,
        type: "POST",
        url: '/api/profile/',
        dataType: 'json',
        success: (data) => { console.log(data)},
        error: (data) => { console.log(data)}
      })
    });

    $("#btn-advance").on('click', () => {
        var ibox = $(".advance");
        var button = ibox.find('i');
        var content = ibox.children('.ibox-content');
        content.slideToggle(200);
        button.toggleClass('fa-chevron-up').toggleClass('fa-chevron-down');
        ibox.toggleClass('').toggleClass('border-bottom');
        setTimeout(function () {
            ibox.resize();
            ibox.find('[id^=map-]').resize();
        }, 50);
    });
    $('.i-checks').iCheck({
       checkboxClass: 'icheckbox_square-green',
       radioClass: 'iradio_square-green' 
    });

    $("#search_btn").click(event => {
      $("#search_form").submit();
    });
    
    $('.my-table').DataTable({
      language: {
        url: '//cdn.datatables.net/plug-ins/1.10.16/i18n/Chinese.json'
      },
      pageLength: 25,
      responsive: true,
      dom: '<"html5buttons"B>lTfgitp',
      buttons: [{
          extend: 'copy'
        },
        {
          extend: 'csv',
          title: '客户资料'
        },
        {
          extend: 'excel',
          title: '客户资料'
        },
        {
          extend: 'pdf',
          title: '客户资料'
        },

        {
          extend: 'print',
          customize: function(win) {
            $(win.document.body).addClass('white-bg');
            $(win.document.body).css('font-size', '10px');

            $(win.document.body).find('table')
              .addClass('compact')
              .css('font-size', 'inherit');
          }
        }
      ]

    });

  });
</script>
{% endblock extra_js %}
