{% extends "admin/base_site.html" %}
{% load i18n admin_urls static admin_modify %}

{% block content %}

<script type="text/html" id="item-template">
    <div id="item-__prefix__">
        #__count__. {{ formset.empty_form }}
    </div>
</script>

{% if entered %}
<p>You entered: <blockquote>{{ entered }}</blockquote></p>
{% endif %}
<form method="POST">
    {{ formset.management_form }}
    {% csrf_token %}

    {{ company_form.as_p }}

    <div id="items-form-container">
        {% for form in formset %}
        <div id="item-{{ forloop.counter }}">
            #{{ forloop.counter }}. {{ form }}
        </div>
        {% endfor %}
    </div>

    <div>
        <a href="#" id="add-item-button" class="btn btn-info add-item">+ 新增</a>
    </div>

    <div>
        <input type="submit" value="提交" />
        <input name="gen_receipt" type="submit" value="保存并生成收据" />
    </div>


</form>

{{ company_form.media }}
<script>
    $(document).ready(function () {
        $('.add-item').click(function (ev) {
            ev.preventDefault();
            var count = $('#items-form-container').children().length;
            var tmplMarkup = $('#item-template').html();
            var compiledTmpl = tmplMarkup.replace(/__prefix__/g, count);
            compiledTmpl = compiledTmpl.replace(/__count__/g, count + 1);
            $('div#items-form-container').append(compiledTmpl);

            // update form count
            $('#id_form-TOTAL_FORMS').attr('value', count + 1);

            // some animate to scroll to view our new form
            $('html, body').animate({
                scrollTop: $("#add-item-button").position().top - 200
            }, 800);
        });
    });
</script>
{% endblock %}