{% extends "admin/base.html" %}
{% load static %}

{% block extrahead %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
<script src="//cdn.staticfile.org/jquery/1.9.1/jquery.min.js"></script>
<script src="//cdn.bootcss.com/jqueryui/1.10.3/jquery-ui.min.js"></script>
{% endblock %}
{% block title %}{{ title }} | {{ site_title|default:'悦海财税' }}{% endblock %}

{% block branding %}
<h1 id="site-name">
    <a href="{% url 'admin:index' %}">
        <img style="height: 50px;" src="http://crm.yuejiewl.com/media/upload_path/logowds_ObMU4ZB.png" />
        {{ site_header|default:'悦海财税' }}
    </a>
</h1>
{% endblock %}

{% block nav-global %}{% endblock %}
