<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <meta http-equiv="cleartype" content="on">
    <title>{% block title %} {% endblock %} - 悦海财税</title>
    <link type="text/css" rel="stylesheet" href="//res.wx.qq.com/open/libs/weui/1.1.2/weui.min.css">
    <link href="//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <style>
        html, body {
            height: 100%;
        }
        .container {
            height: 100%;
        }

        .avatar {
            border-radius: 50%;
            height: 48px;
            width: 48px;
        }

    </style>
    
    {% block header %} {% endblock header %}
        
 </head>
<body>
    <div class="container">
        <div class="weui-tab">
            <div class="weui-tab__panel">
                {% block content %}
                {% endblock %}
            </div>
            <div class="weui-tabbar">
                <a href="javascript:;" class="weui-tabbar__item weui-bar__item_on">
                    <i class="fa fa-area-chart weui-tabbar__icon" aria-hidden="true"></i>
                    <p class="weui-tabbar__label">查报表</p>
                </a>
                <a href="javascript:;" class="weui-tabbar__item">
                    <i class="fa fa-user-circle weui-tabbar__icon" aria-hidden="true"></i>
                    <p class="weui-tabbar__label">我的</p>
                </a>
            </div>
        </div>
    </div>
    
</body>
</html>