{% extends 'wechat/base.html' %}

{% block header %}
<style>
    .page__hd {
        padding: 20px;
    }

    .page__title {
        font-weight: 400;
        font-size: 1.3em;
    }

</style>
    
{% endblock header %}

{% block title %} 查报表 {% endblock title %}

{% block content %}

<div class="page__hd">
    <h1 class="page__title" height="21px">
        {{ company}}
    </h1>
</div>

<div class="weui-cell">
    <div class="weui-cell__hd"><label for="" class="weui-label">报表日期</label></div>
    <div class="weui-cell__bd">
        <input class="weui-input" type="date" value=""/>
    </div>
</div>

{% for obj in object_list %}
<div class="weui-cells__title">{{ obj.date }} </div>
<div class="weui-cells">

{% for att in obj.attachments.all %}
<a class="weui-cell weui-cell_access" href="{{ MEDIA_URL }}{{ att.file }}">
    <div class="weui-cell__hd">
        <i class="fa fa-file-o" style="font-size:18px;margin-right:5px;display:block" aria-hidden="true"></i>
    </div>
    <div class="weui-cell__bd">
        <p>{{ att.name }}</p>
    </div>
</a>
{% endfor %}
</div>
{% endfor %}
    
{% endblock content %}
    