{% extends "layouts/base.html" %}
{% load static django_tables2 widget_tweaks crispy_forms_tags %}

{% block extra_css %}{% endblock extra_css %}

{% block title %} {{ object.title }} {% endblock title %} 


{% block page_heading %}
<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-8">
    <h2>{{ object.title }}</h2>
    <ol class="breadcrumb">
      <li>
        <a href="/client/">客户列表</a>
      </li>
      <li class="active">
        <strong>{{ object.title }}</strong>
      </li>
    </ol>
  </div>
</div>
{% endblock %}


{% block content %}

<div class="row">
  <div class="col-lg-9">
    <div class="ibox">
      <div class="ibox-title">
        <div class="m-b-md">
          {% if has_change_perm %}
          <a href="{% url 'crm:client-edit' object.pk %}" class="btn btn-white btn-xs pull-right">编辑</a> {% endif %}
          <h5>{{ object.title }}</h5>
        </div>
      </div>
      <div class="ibox-content">

        <div class="row">
          <div class="col-lg-12">

            <dl class="dl-horizontal">
              <dt>代理状态:</dt>
              <dd><span class="label {% if object.status == '有效' %}label-primary {% else %}label-danger{% endif %}">{{ object.status }}</span></dd>
            </dl>


            <dl class="dl-horizontal">
              <dt>股东信息:</dt>
              <dd>{% render_table shareholder_table %}</dd>
            </dl>

          </div>
        </div>

        <div class="row">
          <form action="" class="form-horizontal">


            <div class="row mt-sm">

              <div class="col-lg-12">
                <div class="panel blank-panel">
                  <div class="panel-heading">
                    <div class="panel-options">
                      <ul class="nav nav-tabs">

                        {% for fieldset in form.helper.layout.fields %}
                        <li class="{% if forloop.first %} active{% endif %}">
                          <a href="#{{ fieldset.legend }}" data-toggle="tab">{{ fieldset.legend }}</a>
                        </li>
                        {% endfor %}
                      </ul>
                    </div>
                  </div>
                  <!-- end panel-heading -->
                  <div class="panel-body">

                    <div class="tab-content">
                      {% crispy form %}
                    </div>

                  </div>
                </div>
              </div>
            </div>

          </form>
        </div><!-- end row -->

      </div><!-- end ibox-content -->
    </div>
  </div>

  <div class="col-lg-3">
    <div class="wrapper wrapper-content project-manager">

      <h5>标签</h5>
      <ul class="tag-list" style="padding: 0">
        {% for tag in object.tags.all %}
        <li><a href=""><i class="fa fa-tag"></i> {{ tag }}</a></li>
        {% endfor %}
      </ul>
      <div class="clearfix"></div>

      <h5>附件</h5>
      <ul class="list-unstyled project-files">
        {% for a in object.attachments.all %}
        <li>
          <a href="{{ a.file.url }}"><i class="fa fa-file"></i> {{ a.name }} </a>
        </li>
        {% endfor %}
      </ul>

      <!-- <div class="m-t-md">
        <a href="#" class="btn btn-xs btn-primary">添加文件</a>
      </div> -->
    </div>
  </div>
</div>
{% endblock content %} 

{% block extra_js %} 
{{ search_form.media }}

<script>
$(document).ready(function(){
  $(".tab-pane").first().addClass("active"); 

});
</script>
{% endblock extra_js %}
