{% extends "layouts/base.html" %}
{% load static django_tables2 widget_tweaks crispy_forms_tags %}

{% block extra_css %}
<link href="{% static 'css/plugins/dataTables/datatables.min.css' %}" rel="stylesheet">
<link href="{% static 'css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css' %}" rel="stylesheet">
<link href="{% static 'css/plugins/chosen/bootstrap-chosen.css' %}" rel="stylesheet">

{% endblock extra_css %}

{% block title %} 客户管理 {% endblock title %} 

{% block content %}
<div class="ibox-content m-b-sm border-bottom">
  <div class="row">
    <form action="" method="get">

      <div class="col-lg-12">
        <div class="input-group">
          {% render_field search_form.q placeholder="输入关键字进行搜索" class=" form-control input-lg" %}
          <div class="input-group-btn">
            <button class="btn btn-lg btn-primary" type="submit"> 搜索 </button>
          </div>
        </div>
        <div class="hr-line-dashed"></div>
      </div>

      <div class="col-lg-12">
        <div class="form-inline">
          {% crispy filter.form %}
        </div>

        <div class="hr-line-dashed"></div>
      </div>
    </form>

  </div>
  <!-- end row-->

  <div class="row">
    <div class="col-lg-12">
      <form action="#" id="id_preference">
        {% csrf_token %}
        <div class="form-group">
          <label class="font-normal">选择显示的列</label> {% render_field pre_form.company_list_fields data-placeholder="选择显示的字段" class="form-control chosen-select" %}
        </div>
      </form>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="ibox">
      <div class="ibox-content">

        {% render_table table %}

      </div>
    </div>
  </div>

</div>
{% endblock content %} 

{% block extra_js %}
<script src="{% static 'js/plugins/dataTables/datatables.min.js' %}"></script>
<!-- iCheck -->
<script src="{% static 'js/plugins/iCheck/icheck.min.js' %}"></script>
<!-- Chosen -->
<script src="{% static 'js/plugins/chosen/chosen.jquery.js' %}"></script>
<script>
  $(document).ready(function() {
    $("#id_company_list_fields").chosen({ 
      no_results_text: "没有匹配结果",
      width: "100%;"
    }).change((event) => { 
      let data = $("#id_preference").serialize()
      $.ajax({
        data,
        type: "POST",
        url: '/api/profile/',
        dataType: 'json',
        success: (data) => { console.log(data)},
        error: (data) => { console.log(data)}
      })
    });

    $("#btn-advance").on('click', () => {
        var ibox = $(".advance");
        var button = ibox.find('i');
        var content = ibox.children('.ibox-content');
        content.slideToggle(200);
        button.toggleClass('fa-chevron-up').toggleClass('fa-chevron-down');
        ibox.toggleClass('').toggleClass('border-bottom');
        setTimeout(function () {
            ibox.resize();
            ibox.find('[id^=map-]').resize();
        }, 50);
    });
    $('.i-checks').iCheck({
       checkboxClass: 'icheckbox_square-green',
       radioClass: 'iradio_square-green' 
    });

    $("#search_btn").click(event => {
      $("#search_form").submit();
    });

    
    $('.my-table').DataTable({
      language: {
        url: '//cdn.datatables.net/plug-ins/1.10.16/i18n/Chinese.json'
      },
      pageLength: 25,
      responsive: true,
      dom: '<"html5buttons"B>lTfgitp',
      buttons: [{
          extend: 'copy'
        },
        {
          extend: 'csv',
          title: '客户资料'
        },
        {
          extend: 'excel',
          title: '客户资料'
        },
        {
          extend: 'pdf',
          title: '客户资料'
        },

        {
          extend: 'print',
          customize: function(win) {
            $(win.document.body).addClass('white-bg');
            $(win.document.body).css('font-size', '10px');

            $(win.document.body).find('table')
              .addClass('compact')
              .css('font-size', 'inherit');
          }
        }
      ]

    });



  });
</script>
{{ search_form.media }}
{% endblock extra_js %}
